body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;

  margin:0;
 

}

.child{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: flex-start;
  margin-left: 2%;
  
}

.mm{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  /*margin:1%;*/
  
}


.pi{
  
  display: flex;
  justify-content: flex-start;
 
}

.gr{
  display: flex;
  
}




