

.back {
    display: flex;
    flex-wrap: wrap;

    height: 100%;
    width: 95%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 2%;



    background: #FFFFFF;
    box-shadow: 0px 9px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;


    padding: 2%;
    padding-top: 1%;
}

input[type=text] {
    background-color: #F3F3F3;
    border-radius: 25px;
    border: 2px solid #F3F3F3;
}
